{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/slider.css') }}"/>
{% endblock %}

{% block body %}
    {% if app.user %}
        {%if app.user.teamrole == "none" %}
            <!-- Shows the user the team options -->
        <div class="teamaction">
            <form action="{{path("jointeam")}}">
                <div class="teamjoin">
                    <h2>Join a team now!</h2>
                    <p>Join a team and help them win. You will get acces to exclusive features only for team members!</p>
                    <button type="submit" class="btn btn-success">Join team</button>
                </div>
            </form>
            <form action="{{path("payment")}}">
                <div class="teamnew">
                    <h2>Create a new team!</h2>
                    <p>Make a new team, lead it to the leagues you wish to participate and manage it at your way.</p>
                    <button type="submit" class="btn btn-success">New team</button>
                    <p class="small-notes">To create a new team you will have to make a single payment</p>
                </div>
            </form>
        </div>
        {%else%}
            <!-- User has team, shows team data -->
            {% for team in teams %}
                {% if team == app.user.team_id %}
                    <div class="teamdata">
                        <div class="teamdatatitle"><h2>{{ team.teamname }}</h2></div>
                        <div class="teamdivlogo"><p><img class="teamlogo" src="{{ asset('uploads/pictures/' ~ team.logo) }}" alt="Team logo"></p></div>
                        <div class="teamdatatitle"><h2>Team info</h2></div>
                        <div class="teaminfo">
                            <h3>Team name: <i>{{ team.teamname }}</i></h3>
                            <h3>Owner: <i>
                                    {%for user in users%}
                                        {% if team == user.team_id %}
                                            {% if user.teamrole == "Team_Owner" %}
                                                {{user.username}}
                                            {%endif%}
                                        {%endif%}
                                    {%endfor%}
                            </i></h3>
                            <h3>Contact: <i>
                                    {%for user in users%}
                                        {% if team == user.team_id %}
                                            {% if user.teamrole == "Team_Owner" %}
                                                {{user.email}}
                                            {%endif%}
                                        {%endif%}
                                    {%endfor%}
                            </i></h3>
                            <h3>League titles: <i>{{ team.leaguetitles }}</i></h3>
                            <h3>Other titles: <i>{{ team.othertitles }}</i></h3>
                            <h3>Team value: <i>{{ team.teamvalue }}</i></h3>
                            {%if app.user.teamrole == "Team_Owner"%}
                                <h3>Team key: <i>{{ team.teamkey }}</i></h3>
                            {%endif%}
                        </div>
                        <div class="teamdatatitle"><h2>Team members</h2></div>
                        <div class="teammembers">
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Team role</th>
                                    {%if app.user.teamrole == "Team_Owner" %}
                                    <th>Exclude member</th>
                                    {%endif%}
                                </tr>
                                {%for user in users%}
                                    {% if team == user.team_id %}
                                       {% if user.teamrole == "Team_Owner" %}
                                              <tr>
                                                <td>{{user.username}}</td>
                                                <td>Owner</td>
                                                {%if app.user.teamrole == "Team_Owner" %}
                                                <td></td>
                                                {%endif%}
                                              </tr>
                                       {%endif%}
                                    {%endif%}
                                {%endfor%}
                                {%for user in users%}
                                    {% if team == user.team_id %}
                                       {% if user.teamrole == "Team_Member" %}
                                               <tr>
                                                <td>{{user.username}}</td>
                                                <td>Member</td>
                                                {%if app.user.teamrole == "Team_Owner" %}
                                                    <td><a href="/team/{{user.id}}/exclude">Exclude</a></td>
                                                {%endif%}
                                              </tr>                                            
                                       {%endif%}
                                    {%endif%}
                                {%endfor%}
                            </table>
                        </div>
                        <div class="teamfinal">
                            <p>
                                {%if app.user.teamrole == "Team_Owner" %}
                                    <a href="{{path("editteam")}}">Edit team</a> -
                                    <a href="{{path("leaveteam")}}">Leave team</a>
                                {%endif%}
                                {%if app.user.teamrole == "Team_Member" %}
                                    <a href="{{path("leaveteam")}}">Leave team</a>
                                {%endif%}
                            </p>
                        </div>
                    </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    {%else%}
        <!-- Slider for not loged users -->
        <div id="slider"> 
            <div class="slides">
                <div class="slider">
                    <div class="legend"></div> 
                        <div class="content"> 
                        <div class="content-txt"> 
                        <h1> Register now! </h1> 
                        <h2> Register in order to acces all the app! </h2> 
                        </div> 
                        </div> 
                        <div class="images"> 
                        <img src="{{ asset('assets/images/image4.jpg') }}" alt="Register now!"> 
                    </div> 
                </div>

                <div class="slider">
                    <div class="legend"></div> 
                        <div class="content"> 
                        <div class="content-txt"> 
                        <h1> Teams </h1> 
                        <h2> Join a team now or create a new one to participate </h2> 
                        </div> 
                        </div> 
                        <div class="images"> 
                        <img src="{{ asset('assets/images/image3.jpg') }}" alt="Join a team or create one!"> 
                    </div> 
                </div> 

                <div class="slider">
                    <div class="legend"></div> 
                        <div class="content"> 
                        <div class="content-txt"> 
                        <h1> Compete, win! </h1> 
                        <h2> Your team can join all the competitions available, join and win! </h2> 
                        </div> 
                        </div> 
                        <div class="images"> 
                        <img src="{{ asset('assets/images/image2.jpg') }}" alt="Compete, win!"> 
                    </div> 
                </div> 

                <div class="slider">
                    <div class="legend"></div> 
                        <div class="content"> 
                        <div class="content-txt"> 
                        <h1> League & Tournament simulator </h1> 
                        <h2> Simulate leagues and tournaments with our app </h2> 
                        </div> 
                        </div> 
                        <div class="images"> 
                        <img src="{{ asset('assets/images/image1.jpg') }}" alt="Simulator of leagues"> 
                    </div> 
                </div> 
            </div> 
        </div>
    {% endif %}  
{% endblock %}
