{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        {% if app.user.role == "ROLE_ADMIN" %}
         <div class="admintable">  
            <div class="admindata">
                  <div class="admintitle"><h2>Admin panel</h2></div>
                <div class="admininfo"><a href="/adminpanel/users">Show users</a></div>
                <div class="admininfo"><a href="/adminpanel/teams">Show teams</a></div>
                <div class="admininfo"><a href="/adminpanel/leagues">Show leagues</a></div>
              </div>
        
         
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Team</th>
                <th>Team Role</th>
                <th>Action edit</th>
                <th>Action delete</th>
              </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {%if user.role != "ROLE_ADMIN"%}
                {%set flag = 0 %}
                <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                {%for team in teams%}
                    {%if team == user.teamid %}
                        <td>{{team.teamname}}</td>
                        <td>{{user.teamrole}}</td>
                        {%set flag = 1 %}
                    {%endif%}
                {%endfor%}
                    {%if flag == 0 %}
                        <td>No team</td>
                        <td>none</td>
                    {%endif%}
                <td><a href="/adminpanel/{{user.id}}/edituser">Edit</a></td>
                <td><a href="/adminpanel/{{user.id}}/deleteuser">Delete</a></td>
              </tr>
              {%endif%}
            {%endfor%}
            </tbody>
          </table>
         </div>
    {% endif %}
    
    {% endif %}
{% endblock %}
